<div class="container">
  <div class="connection-indicator" [class.disconnected]="!deviceConfig?.isConnected"></div>
  <div class="name">{{ deviceConfig?.name }}</div>
  <div *ngFor="let variable of deviceConfig?.vars | keyvalue" class="variable">
    <div class="variable-name">
      {{ variable.value.name }}
    </div>

    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="UI">
        <app-variable-ui [variable]="variable.value" deviceUuid="{{ deviceUuid }}" variableUuid="{{ variable.key }}">
        </app-variable-ui>
      </mat-tab>
      <mat-tab label="RAW">
        <app-variable [variable]="variable.value" deviceUuid="{{ deviceUuid }}" variableUuid="{{ variable.key }}">
        </app-variable>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
