<div class="container">
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="createAlias()">Create alias</button>
  </mat-menu>
  <button mat-icon-button [matMenuTriggerFor]="menu" class="options-button">
    <mat-icon>more_vert</mat-icon>
  </button>

  <div class="connection-indicator" [class.disconnected]="!deviceConfig?.isConnected"></div>
  <div *ngIf="alias === undefined" class="name">{{ deviceConfig?.name }}</div>
  <div *ngIf="alias !== undefined" class="name">{{ alias?.name }}</div>

  <div *ngFor="let variable of deviceConfig?.vars | keyvalue" class="variable">
    <div class="variable-name">
      {{ variable.value.name }}
    </div>

    <mat-tab-group mat-stretch-tabs>
      <mat-tab label="UI">
        <app-variable-ui [variable]="variable.value" deviceUuid="{{ deviceUuid }}" variableUuid="{{ variable.key }}">
        </app-variable-ui>
      </mat-tab>
      <mat-tab label="RAW">
        <app-variable [variable]="variable.value" deviceUuid="{{ deviceUuid }}" variableUuid="{{ variable.key }}">
        </app-variable>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
