.container {
  display: flex;
  align-items: left;
  font-size: 22px;
  position: relative;
  flex-direction: column;
  padding: 15px;
  overflow: hidden;
}

.text {
  margin: 10px;
}
.name {
  font-size: 28px;
  padding: 5px 0px;
}

.uuid {
  font-size: 16px;
  color: gray;
}

.variable-name {
  font-size: 20px;
}

.variable-uuid {
  font-size: 14px;
  color: gray;
}
.connection-indicator {
  width: 10px;
  height: 10px;
  background-color: lightgreen;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.disconnected {
  background-color: red;
}
