.presets-button {
  margin: 5px;
  width: 100px;
  height: 100px;
  white-space: pre-wrap !important;
  line-height: 18px;
  padding: 3px;
}

.presets-device-name {
  font-size: 12px;
  white-space: nowrap;
  font-weight: bold;
}
.options-button {
  position: absolute;
  right: -5px;
  top: -2px;
  color: gray;
}
