<div *ngIf="property.maximum != undefined && property.minimum != undefined">
  <div class="variable-name">
    {{ name }}
  </div>
  <mat-slider
    class="example-margin"
    [max]="property.maximum"
    [min]="property.minimum"
    [step]="step"
    [thumbLabel]="true"
    [(ngModel)]="propValue"
    (ngModelChange)="onChange()"
  >
  </mat-slider>
</div>

<div *ngIf="property.maximum === undefined || property.minimum === undefined">
  <div class="variable-name">
    {{ name }}
  </div>

  <mat-form-field appearance="outline">
    <input matInput [(ngModel)]="propValue" (ngModelChange)="onChange()" type="number" />
  </mat-form-field>
</div>
<div *ngIf="validationError" class="validation-info">{{ validationError }}</div>
<mat-divider></mat-divider>
