<div *ngFor="let property of getPropertiesList(variable.schema) | keyvalue">
  <!-- - prop {{ property.key }} {{ property.value.type }} -->

  <div *ngIf="property.value.type === 'string'">
    <variable-string
      [name]="property.key"
      [property]="property.value"
      [variable]="variable"
      (valueChange)="onValueChange($event)"
    ></variable-string>
  </div>

  <div *ngIf="property.value.type === 'number'">
    <variable-number
      [name]="property.key"
      [property]="property.value"
      [variable]="variable"
      (valueChange)="onValueChange($event)"
    ></variable-number>
  </div>

  <!-- <div *ngFor="let property of getPropertiesList(property.value) | keyvalue">- - prop {{ property.key }}</div> -->
</div>
