<div class="page">
  <div class="header">
    Christmas Iot Control Panel
  </div>

  <router-outlet></router-outlet>

  <div class="content">
    <app-christmas-tree-switch
      deviceUuid="02fd0148-7023-4e36-a6a5-79ae12753d94"
      variableUuid="c391b0c7-0464-4a8d-aee8-0fe307a85247"
    ></app-christmas-tree-switch>
    <app-light-switch
      deviceUuid="62fd0148-7023-4e36-a6a5-79ae12753d97"
      variableUuid="c391b0c7-0464-4a8d-aee8-0fe307a85247"
      name="Christmas Relay 2"
    ></app-light-switch>
  </div>

  <div class="footer">
    powered by iot.wiklosoft.com
  </div>
</div>
