.options {
  display: flex;
}

.code {
  flex: 1 1 auto;
  margin-top: 0;
  height: 100%;
  position: relative;
  display: flex;
}

::ng-deep .CodeMirror {
  font-size: 14px;
  line-height: 15px;
  font-family: "Ubuntu Mono";
  width: 100%;
}

.device-list {
  width: 100%;
  position: absolute;
}

.device-list-container {
  top: 0px;
  right: 0px;
  bottom: 0px;
  width: 250px;
  position: relative;
  overflow-y: scroll;
}

::ng-deep app-rule-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::ng-deep .mat-dialog-content {
  flex-grow: 10;
  max-height: unset;
  display: flex;
  flex-direction: column;
}
.script {
  flex-grow: 1;
  position: relative;
}

.logs {
  height: 150px;
}

::ng-deep .script .CodeMirror {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 250px;
  height: 100%;
}

::ng-deep .logs .CodeMirror {
  height: 100%;
}

.mat-expansion-panel-header {
  height: 32px;
  font-size: 12px;
}

.mat-expansion-panel-header.mat-expanded {
  height: 32px;
}

::ng-deep .mat-expansion-panel-body {
  padding: 0 8px 8px !important;
  font-size: 12px;
  font-family: "ubuntu mono";
}

.connection-indicator {
  width: 10px;
  height: 10px;
  background-color: lightgreen;
  border-radius: 5px;
  position: relative;
  top: 5px;
  margin: 2px;
}

.disconnected {
  background-color: red;
}
