.options {
  display: flex;
}

.code {
  width: 100%;
}

::ng-deep .CodeMirror {
  font-size: 14px;
  line-height: 15px;
  font-family: "Ubuntu Mono";
  width: 100%;
}
::ng-deep app-rule-editor {
  display: flex;
  flex-direction: column;
  height: 100%;
}

::ng-deep .mat-dialog-content {
  flex-grow: 10;
  max-height: unset;
  display: flex;
  flex-direction: column;
}

.script {
  height: 400px;
}

.logs {
  height: 150px;
}

::ng-deep .script .CodeMirror {
  height: 100%;
}

::ng-deep .logs .CodeMirror {
  height: 100%;
}
