<div mat-dialog-title>{{ rule.name }} - Rule Editor</div>
<div mat-dialog-content>
  <div class="options">
    <mat-form-field appearance="outline">
      <mat-label>Rule name</mat-label>
      <input matInput [(ngModel)]="rule.name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select a device</mat-label>
      <mat-select [(ngModel)]="rule.deviceUuid" [compareWith]="compareDevices">
        <mat-option *ngFor="let device of devices" value="{{ device.deviceUuid }}">{{ device.name }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Select a varaible</mat-label>
      <mat-select [(ngModel)]="rule.variableUuid">
        <mat-option *ngFor="let variable of getVariables() | keyvalue" value="{{ variable.key }}">
          {{ variable.value.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <h3>Script</h3>

  <div class="code">
    <ngx-codemirror
      class="script"
      *ngIf="ready"
      #codeMirror
      [(ngModel)]="rule.script"
      [options]="editorOptions"
    ></ngx-codemirror>

    <div class="device-list-container">
      <div class="device-list">
        <mat-accordion>
          <mat-expansion-panel *ngFor="let device of devices">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <div class="connection-indicator" [class.disconnected]="!device?.isConnected"></div>

                {{ device.name }}
              </mat-panel-title>
            </mat-expansion-panel-header>
            <p></p>
            <mat-accordion>
              <mat-expansion-panel *ngFor="let variable of device.vars | keyvalue">
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    {{ variable.value.name }}
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <div>
                  {{ variable.value.value | json }}
                </div>
                <button
                  mat-stroked-button
                  (click)="putGetValueToEditor(device.deviceUuid, variable.key, variable.value.value)"
                >
                  Get
                </button>
                <button
                  mat-stroked-button
                  (click)="putSetValueToEditor(device.deviceUuid, variable.key, variable.value.value)"
                >
                  Set
                </button>
              </mat-expansion-panel>
            </mat-accordion>
          </mat-expansion-panel>
        </mat-accordion>
      </div>
    </div>
  </div>
  <h3>Logs:</h3>
  <ngx-codemirror class="logs" *ngIf="ready" #logWindow [(ngModel)]="logs" [options]="logOptions"></ngx-codemirror>
</div>

<mat-dialog-actions align="end">
  <button mat-stroked-button mat-dialog-close>Close</button>
  <button mat-stroked-button (click)="save()" [disabled]="!isValid()">Save</button>
</mat-dialog-actions>
