<div
  class="container"
  [ngClass]="{ disabled: state === undefined }"
  (click)="changeSetting()"
>
  <img
    class="icon"
    [ngClass]="{ inactive: state === 'NONE' || state === undefined }"
    src="assets/strip.svg"
  />
  <ngx-slick
    class="carousel"
    #slickModal
    [ngClass]="{ 'inactive-device': state === undefined }"
    [config]="slideConfig"
    (afterChange)="afterChange($event)"
  >
    <div *ngFor="let slide of slides" ngxSlickItem class="animation">
      {{ slide.text }}
    </div>
  </ngx-slick>
</div>
