.presets {
  padding: 15px;
  max-width: 90%;
}

.presets-buttons {
  display: flex;
  flex-direction: row;
  place-content: center;
  flex-wrap: wrap;
}

.preset-new {
  position: absolute;
  right: 5px;
  top: 5px;
  color: gray;
}
