/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/theming";

// Define a custom typography config that overrides the font-family as well as the
// `headlines` and `body-1` levels.
$custom-typography: mat-typography-config(
  $font-family: "Ubuntu, monospace",
  $headline: mat-typography-level(24px, 48px, 700),
  $body-1: mat-typography-level(16px, 26px, 500),
);
@include angular-material-typography($custom-typography);

body,
html {
  width: 100%;
  height: 100%;
  font-family: "Ubuntu", sans-serif;
  overflow: hidden;
  margin: 0;
  background: #e2e1e0;
  user-select: none;
}

.icon {
  width: 70px;
  height: 70px;
  margin: 8px;
  transition: all 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.inactive-device {
  opacity: 0.2;
}
.inactive {
  opacity: 0.5;
}

.availability-icon {
  position: absolute;
  left: 6px;
  top: 6px;
  width: 8px;
  height: 8px;
  border-radius: 4px;
  background-color: green;
}

.disconnected {
  background-color: red;
}
button {
  border-radius: 5px;
  border: 1px solid gray;
  padding: 5px;
}
